MONGO_URL="mongo:27017"
MONGO_USER="mongo"
MONGO_PASSWORD="mongo"
MONGO_DB="chat_history"
AUTH_VERIFY=true
AUTH_SERVER_URL=https://{keycloak-url}/realms/{your_realm}
AUTH_CLIENT_ID=chat-storage
AUTH_VALID_AUDIENCES="urban-api, account"