MONGO_URL=localhost:27017
MONGO_USER=mongo
MONGO_PASSWORD=mongo
MONGO_DB=chat_history
IDU_MCP_URL=http://localhost:8000/mcp
AUTH_VERIFY=true
AUTH_SERVER_URL=https://{keycloak-url}/realms/{your_realm}
AUTH_CLIENT_ID=chat-storage
AUTH_VALID_AUDIENCES="urban-api, account"
CHATSTORAGE_LOG_DIR=runtime/logs
CHATSTORAGE_LOG_FILE=api.log
