MONGO_URL=host.docker.internal:27017
MONGO_USER=mongo
MONGO_PASSWORD=mongo
MONGO_DB=chat_history
IDU_MCP_URL=http://host.docker.internal:8000/mcp
OBJECTS_EFFECTS_MCP_URL=http://host.docker.internal:8080/mcp
DVD_MCP_URL=http://host.docker.internal:8100/mcp
NORM_GRAPH_MCP_URL=http://host.docker.internal:8020/mcp
URBAN_PROJECTS_MCP_URL=https://urban-mcp.example.org/mcp/projects/
URBAN_TERRITORIES_MCP_URL=https://urban-mcp.example.org/mcp/territories/
URBAN_PHYSICAL_OBJECTS_MCP_URL=https://urban-mcp.example.org/mcp/physical_objects/
URBAN_DICTIONARIES_MCP_URL=https://urban-mcp.example.org/mcp/dictionaries/
URBAN_INDICATORS_MCP_URL=https://urban-mcp.example.org/mcp/indicators/
URBAN_SOC_GROUPS_MCP_URL=https://urban-mcp.example.org/mcp/soc_groups/
AUTH_VERIFY=true
AUTH_SERVER_URL=https://{keycloak-url}/realms/{your_realm}
AUTH_CLIENT_ID=chat-storage
AUTH_VALID_AUDIENCES="urban-api, account"
CHATSTORAGE_LOG_DIR=runtime/logs
CHATSTORAGE_LOG_FILE=api.log
SERVICE_AUTH_SERVER_URL=https://keycloak.example.com
SERVICE_AUTH_REALM=IDU
SERVICE_AUTH_CLIENT_ID=chat-storage
SERVICE_AUTH_CLIENT_SECRET=change-me
